# Common
FC_JWT_SECRET=replace-with-a-long-secret

# Solana mode (server-side verification)
FC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
FC_SOLANA_PAYMENT_ADDRESS=YOUR_SOLANA_RECEIVER_WALLET
FC_SOLANA_ACCESS_PRICE_SOL=5

# Public client config
NEXT_PUBLIC_FC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_FC_SOLANA_PAYMENT_ADDRESS=YOUR_SOLANA_RECEIVER_WALLET
NEXT_PUBLIC_FC_ACCESS_PRICE_SOL=5


# Set false for local HTTP testing with next start
FC_COOKIE_SECURE=false

